---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
import { formatDateEdu } from '@/libs/dates';
import type { Education, EducationCourse } from '@prisma/client';

interface ExtendedEducation extends Education {
  courses: EducationCourse[];
}

interface Props {
  education: ExtendedEducation;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { education } = Astro.props;

const coursesNames = education.courses.map(course => course.name).join(", ");
---

<div class=" font-bold" >
    <div class=" lg:flex lg:justify-between " >
        <div>
            <h3 class="text-2xl font-bold mb-1 font-roboto-mono text-tertiary">
                {education.institution}
            </h3>
            <p class="text-white text-lg mb-2">
                {education.area} - {education.studyType}
            </p>

        </div>
        <p class="text-sm text-secondary">
            {education.startDate.toLocaleDateString(lang, formatDateEdu)} - {education.endDate.toLocaleDateString(lang, formatDateEdu)}
        </p>
    </div>
    <p class="mt-2 text-white ">
        {coursesNames}
    </p>
    {education.url && (
        <a href={education.url} target="_blank" class=" mt-5 inline-block bg-secondary text-main-400 px-2 py-1 rounded uppercase font-mono hover:bg-tertiary transition-colors duration-200">
            {t('education.card.view')}
        </a>
    )}
</div>
